 header {
     display: flex;
     justify-content: space-between;
     background-color: blueviolet;
     border-bottom: 10px solid #000;
     padding: 10px 20px;   
     align-items:  center;
 }




 nav {

    text-align: right;
}


 a {
     display: inline-flex;
     align-items: center;
     color: white;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins", Arial, Helvetica, sans-serif;
     font-weight: 200;
     margin-right: 30px;

 }



 .button {
     display: inline-block;
     background-color: #218df1;
     height: 60px;
     line-height: 60px;
     padding-left: 20px;
     padding-right: 20px;
     box-shadow: 5px 5px 1px black;
     transition: transform 150ms linear ;

 }

 .button:hover{
    transform: scale(1.08) ;
    color:#218df1 ;
    background-color: white;

 }

 .titulo {

    background-image: url(https://images.unsplash.com/photo-1654964150054-d79f08ffe556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: repeat;

 }

 .titulo-nome{
    background-color:#3A4042;
    display: inline-block;
    width: 627px;
    height: 184px;
    margin-top: 150px;
    margin-left: 91px;
    border-radius: 3px;
    box-shadow: 5px 5px 1px black;
    text-align: center;
    margin-bottom: 497px;


   
    
   
 }




 .button-banner {
    display: inline-block;
    background-color: #218df1;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 1px black;
    transition: transform 150ms linear ;


 }

 .button-banner:hover {
    transform: scale(1.08) ;
    color:#218df1 ;
    background-color: white;

 }

