 header {
     display: flex;
     justify-content: space-between;
     background-color: blueviolet;
     border-bottom: 10px solid #000;
     padding: 10px 20px;   
     align-items:  center;
 }

 h1{

    font-family: "Press Start 2P",  sans-serif;
    color: white ;
    text-shadow:5px 5px 1px black; 


}

 nav {

    text-align: right;
}


 a {
     display: inline-flex;
     align-items: center;
     color: white;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins", Arial, Helvetica, sans-serif;
     font-weight: 200;
     margin-right: 30px;

 }



 #button {
     display: inline-block;
     background-color: #218df1;
     height: 60px;
     line-height: 60px;
     padding-left: 20px;
     padding-right: 20px;
     box-shadow: 5px 5px 1px black;
     transition: transform 150ms linear ;

 }

 #button:hover{
    transform: scale(1.08) ;
    color:#218df1 ;
    background-color: white;

 }