.titulo-nome h1{
    color: rgb(0, 255, 221) ;
    text-shadow:5px 5px 1px black; 
    margin-top: 60px;
    margin-bottom: 15px;
}

h1{

    font-family: "Press Start 2P",  sans-serif;
    color: white ;
    text-shadow:5px 5px 1px black; 

}