.banner {
    box-sizing: border-box;
    background-image: url('../../assets/assets/car.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 690px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    

}
.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}

