.banner {
    box-sizing: border-box;
    background-image: url(../../assets/foto1.png);
    background-size: 100%;
    background-repeat: repeat;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    

}
.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}

