.box{
    display: inline-block;
    background-color:#3A4042;
    padding: 42px 44px;
    border-radius: 3px;
    box-shadow: 5px 5px 1px black;
    text-align: center;
    margin-bottom: 40px;


 }
 .box h1{
        margin-bottom: 28px;
 }