.button {
    display: inline-block;
    background-color: #218df1;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 1px black;
    transition: transform 150ms linear ;
    cursor: pointer;

}

.button:hover{
   transform: scale(1.08) ;
   color:#218df1 ;
   background-color: white;

}

.button.-full{
    width: 100%;
}

.button.-full:hover{
    transform: scale(1.0);

}