.main-title{
    color: #6cb9f4 ;


}

.main-title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;



}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align:center;
}

.main-title.-gradient{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: url('../../assets/assets/glitch.gif');
}