.main-footer{


    display: flex ;
    background-color: #000;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 38px;
    flex-wrap: wrap;
}

.action{
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 10px;
}

.credits{

   color: #fff;

}

