.main-footer{
    display: flex ;
    background-color: #000;
    color: #fff;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
    position: relative;


}

.action{
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 10px;
}


.credit {
    margin-top: 20px;
    display: flex;
    position: absolute;
}


