body{
	font-family: 'Poppins', arial, helvetica, sans-serif;
	cursor: url(/assets/cursor.png);
}

body,h1,h2,h3,h4,h5,h6, figure, input {
	margin: 0;
	padding: 0;
}

button{
	border: none;
	font-family: inherit;
}