.section{
    background-color: #36115d;
    border-bottom: 10px solid #7C5E99 ;
    padding: 50px 0 100px;

}


.section h2{
    text-align: center;
    
}  

.section .main-title-second{
    margin-bottom: 60px;
}

.section.-bgBlack{
    background-color: black;
}

.section.-bdFirst{
    border-bottom:10px solid #F25A70 ;
}

.section.-bgPurple{
    background-color: #7C5E99;
}

.section.-bdSecond{
    border-bottom:10px solid black ;
}




